/* IDs_Classes Style Sheet */
/* Adam Charlton */

.page
{
width:1000px;
}

div.banner 
{
height:50px;
width:1000px;
background:gray;
}

div.navbar
{
height:25px;
width:1000px;
background:DarkGray;
}

.links
{
text-align:center;
}

div.content
{
height:250px;
width:980px;
background:lightgray;
padding:10px;
}

#left
{
float:left;
height:250px;
width:475px;
background-color:lightgray;
border:2px solid gray;
padding:10px;
}

#right
{
float:right;
height:250px;
width:475px;
background-color:lightgray;
border:2px solid gray;
padding:10px;
}

div.footsection
{
clear:both;
height:100px;
width:1000px;
background:gray;
}

a:link
{
color:black;
}

a:hover
{
color:blue;
}

a:visited
{
color:default;
}

a:active
{
background-color:red;
}