
body 
{
}

#page
{
color:#fff;
background-color:#252525;

margin-left:auto;
margin-right:auto;
margin-top:-10px;

width:800px;
height:auto;
}

#header
{
background-color:#454545;

width:800px;
height:75px;

text-align:center;
}

#links
{
padding-top:10px;

background-color:#252525;

width:800px;
height:50px;

text-align:center;
}

#content
{
background-color:#353535;

width:auto;
height:auto;

text-align:center;
}

#avatar
{
margin-left:20px;
float:right;
}

#footer
{
background-color:#454545;

width:800px;
height:75px;

text-align:center;
}

table.t1
{
border-collapse:collapse;
border: 2px solid #252525;
align="center";
}

td
{
text-align:center;
height:100px;
width:200px;
}

td.a
{
border: 1px solid #252525;
}

