body {
}

#cookie1
{
float:left;
height:250px;
width:250px;
background-image:url('cookie.png');
background-position:center;
}

#cookie2
{
float:left;
height:250px;
width:250px;
background-image:url('cookie.png');
background-position:center;
}

#cookie3
{
float:left;
height:250px;
width:250px;
background-image:url('cookie.png');
background-position:center;
}

#cookie4
{
float:left;
height:250px;
width:250px;
background-image:url('cookie.png');
background-position:center;
}

#cookie
{
clear:both;
}






